*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}


 /* container width of 600px */
  .card-grid { 
    max-width: 37.5rem;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .card {
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
    /* border: 2px solid #ccc; */

    height: auto;
    object-fit: cover;
    /* flex shrink
        100% = 600px (size of our container)
        2rem = 16 * 2 = 32px
        calc((600px - 32px) / 3)  */
    width: calc((100% - 2rem) / 3) !important;
  }

  .card img {
    display: block;
    max-width: 100%;
    height: 100%;
  }

  .card h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
  }