
.card-grid {
    padding: 30px;
    
    
	
    
    
}

.grid-row {
   	display: flex;
	
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	height: 20px;
}

.col-grid {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: space-evenly;
    width: 50px;
}
